body {
  background-color: lightblue;
  background-image: url(https://netmaster365.github.io/radio/fale.jpg);
}

h1 {
  color: black;
  text-align: center;
  font-family: "Lucida Console", serif;
  font-weight: bold;
}
