body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Lucida Console", serif;
  font-weight: bold;
}

p {
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
}