body {
  background-color: lightblue;
  background-image: url(https://netmaster365.github.io/radio/fale.jpg);
}

h1 {
  color: black;
  text-align: center;
  font-family: "Lucida Console", serif;
  font-weight: bold;
}

p {
  font-family: "Brush Script MT", cursive;
  background-image: url("fale.jpg");
  font-size: 20px;
}